:root {
    --primaria: #22C55E;
    --primaria-brilho: #4ADE80;
    --secundaria: #FACC15;
    --fundo: #0F172A;
    --card-fundo: rgba(255, 255, 255, 0.03);
    --card-borda: rgba(255, 255, 255, 0.1);
    --texto-claro: #F8FAFC;
    --texto-cinza: #94A3B8;
    --raio: 20px;
    --transicao: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--fundo);
    color: var(--texto-claro);
    line-height: 1.6;
    overflow-x: hidden;
}

.fundo-gradiente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 80% 20%, rgba(34, 197, 94, 0.15), transparent 40%),
                radial-gradient(circle at 20% 80%, rgba(250, 204, 21, 0.05), transparent 40%);
    z-index: -1;
}

/* lOGO / HEADER DA PAGINA  */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.navegacao {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo-area{
    margin-top: 10vh;
}

.logo-area img{ 
    width: 45vh;
}
